<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/game.erb -->

<nav class="navbar navbar-inverse" id="gamenavmenu">
  <div class="container-fluid">
    
  </div>
</nav>
