<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/index.erb -->

<div class="jumbotron gametext text-center">
  <h1>Werewolves and Wanderer</h1>
  <br/>
  <p>This Adventure, WEREWOLVES AND WANDERER (where you are the wanderer, and the werewolves and other unsavory creatures inhabit the imaginary environment you are about to visit), takes place within an ancient, abandoned, stone castle.</p>
  <br/>

  <h3>Become part of this adventure!</h3>
  <p>
    <a href="/login" class="btn btn-primary btn-lg"
      role="button">Login</a>
  </p>
  <p>
    <a href="/signup" class="btn btn-primary btn-lg"
      role="button">Sign Up</a>
  </p>
</div>
