<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/index.erb -->

<h1>Werewolves and Wanderer</h1>

<h2>Here will go the game!</h2>
<p>We need to use Bootstrap</p>

<p>Please enter your credentials.</p>

<form method="post">
  <p>
    <label for="user">Username: </label>
    <input type="text" id="usr" name="user" />
  </p>

  <p>
    <label for="password">Password: </label>
    <input type="password" id="pswd" name="password" />
  </p>

  <p>
    <input type="submit" value="Login" />
  </p>
</form>
