<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/index.erb -->

<h2>Here will go the game!</h2>
<p>We need to use Bootstrap</p>
