<!-- Final Project: A Text Adventure Game -->
<!-- Date: 14-Apr-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Werewolves and Wanderer</title>
  </head>

  <body>
    <%= yield %>
    <footer>
      &copy; 2016 by Ivan Diaz. Built with <a href="http://www.sinatrarb.com">Sinatra</a>.
    </footer>
  </body>
</html>
