<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/login.erb -->

<div class="loginbg">
  <div class="row">
    <img src="../images/castle-icon.png" alt="castleicon" id="loginicon">
  </div>

  <p class="titlelabel">Log In</p>
  <p class="subtitlelabel">Please enter your credentials.</p>

  <form class="form-horizontal" method="post">
    <div class="form-group">
      <label for="inputusr" class="col-sm-3 control-label" id="logintext">
        Player Username *: 
      </label>

      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputusr" name="usr">
      </div>
    </div>

    <div class="form-group">
      <label for="inputpswd" class="col-sm-3 control-label" id="logintext">
        Password *: 
      </label>

      <div class="col-sm-7">
        <input type="password" class="form-control" id="inputpswd" name="pswd">
      </div>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button type="submit" class="btn btn-primary">Sign In!</button>
    </div>
  </div>
  </form>
</div>
