<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/login_success.erb -->

<p class="gametext"><%= session[:pl_inst][0].to_s %></p>
