<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/new_user_success.erb -->

<p><%= @game_instance[0] %></p>
