<!-- Final Project: A Text Adventure Game -->
<!-- Date: 05-May-2016 -->
<!-- Author: A01371166 Ivan David Diaz Sanchez -->

<!-- File: views/signup.erb -->

<div class="loginbg">
  <div class="row">
    <img src="../images/entrance-icon.png" alt="entryicon" id="loginicon">
  </div>

  <p class="titlelabel">Sign Up</p>
  <p class="subtitlelabel">
    Please enter the required information in the form below.
  </p>

  <form class="form-horizontal" method="post">
    <div class="form-group">
      <label for="inputusr" class="col-sm-3 control-label" id="logintext">
        New Username *: 
      </label>

      <div class="col-sm-7">
        <input type="text" class="form-control" id="inputusr">
      </div>
    </div>

    <div class="form-group">
      <label for="inputpswd" class="col-sm-3 control-label" id="logintext">
        New Password *: 
      </label>

      <div class="col-sm-7">
        <input type="password" class="form-control" id="inputpswd">
      </div>
    </div>

    <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button type="submit" class="btn btn-primary">Sign Up!</button>
    </div>
  </div>
  </form>
</div>
