/* Final Project: A Text Adventure Game */
/* Date: 05-May-2016 */
/* Author: A01371166 Ivan David Diaz Sanchez */

/* File: public/css/styles.css */

@import url("../bootstrap-3.3.6/css/bootstrap.min.css");
@import url("../bootstrap-3.3.6/css/bootstrap-theme.css");

html {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../images/castle-wallpaper.jpg");
  background-size: 100% 100%;
  min-height: 100%;
  margin-bottom: 30px;
  overflow: hidden;
}

.jumbotron {
  background-color: transparent !important;
  position: absolute;
}

.gametext {
  color: white;
  width: 90%
}

.loginbg {
  background:rgba(32,72,53,0.8);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  position: relative;
  width: 90%;
}

#logintext {
  color: white;
}

#loginicon {
  display: block;
  margin: 2% auto;
}

.titlelabel {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 35px;
  margin: 0 0 35px;
  text-align: center;
}

.subtitlelabel {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 27px;
  margin: 0 0 27px;
  text-align: center;
}

#gamenavmenu {
  background:rgba(7,36,30,0.8); 
}

.gamebg {
  background:rgba(0,4,19,0.9);
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 9%;
  position: relative;
  width: 90%;
}

#healthbar {
  margin-left: 2%;
  margin-top: 4%;
  position: absolute;
  width: 35%;
}

#healthlabel {
  margin-left: 3%;
  margin-top: 2%;
  position: absolute;
}

#wealthvalue {
  margin-left: 68%;
  margin-top: 4%;
  position: absolute;
}

#wealthlabel {
  margin-left: 67%;
  margin-top: 2%;
  position: absolute;
}

#m_tvalue {
  margin-left: 85%;
  margin-top: 4%;
  position: absolute;
}

#m_tlabel {
  margin-left: 82%;
  margin-top: 2%;
  position: absolute;
}

#roomeventname {
  display: block;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  padding-top: 2%;
  width: 25%;

  background: -webkit-linear-gradient(#fff, #777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#roomeventtext {
  font-size: 20px;
  margin: auto auto;
  padding-top: 5%;
}

.choiceform {
  text-align: center;
  padding-top: 5%;
}

ul#choicebuttons li {
  display: inline;
}

#choicebtn {
  background-color: black !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #purple;
}
